*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter',sans-serif;
}

body{
    background:#f5f7fa;
}

.page-banner{
    background:linear-gradient(to right,#003cff,#00a6ff);
    color:white;
    text-align:center;
    padding:70px 20px;
}

.page-banner h1{
    font-size:50px;
    margin-bottom:10px;
}

.container{
    width:85%;
    margin:50px auto;
}

.fields{
    background:white;
    padding:50px;
    margin-bottom:25px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

input,
textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

textarea{
    height:150px;
}

button{
    background:#005eff;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0044cc;
}